:root {
    --themeColor: white;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: #23272A;
    color: var(--themeColor);
    text-transform: uppercase;
}

#mainWrapper {
    width: 100%;
    height: 100vh;
    /* background: orange; */
}

h1, h4, h2 {
    margin: 0;
}

#pageTitleWrapper {
    /* background: blue; */
    padding: 4%;
    height: auto;
}

#topContainer {
    /* background: red; */
    padding: 1%;
    height: auto;
}

#bottomContainer {
    /* background: green; */
    padding: 1%;
    height: auto;
    padding: 0;
    margin-top: 50px;
}

.pageTitle {
    font-size: 2.5em;
    margin-bottom: 5px;
}

.pageSubtitle {
    opacity: .5;
}

.inputsContainer {
    margin: 30px;
}

.inputTitle {
    margin-top: 80px;
    margin-bottom: 30px;
}

.inputTitleBillAmount {
    margin-top: 0;
}

.flexAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 50px 0; */
}

.inputField {
    width: 500px;
    height: 58px;
    padding: 0;
    border-top: 1px solid var(--themeColor);
    border-bottom: 1px solid var(--themeColor);
    border-left: none;
    border-right: none;
    background-color: rgba(255, 255, 255, .1);
    text-align: center;
    font-size: 20px;
    color: var(--themeColor);
    outline: none;
    -webkit-appearance: none;
}

.billInputField {
    border: none;
    border-radius: 5px; 
}

.counterBtns {
    width: 80px;
    height: 60px;
    padding: 0;
    background-color: transparent;
    border: 1px solid var(--themeColor);
    font-size: 30px;
    color: var(--themeColor);
    outline: none;
}

.counterBtns:hover {
    cursor: pointer;
    background-color: var(--themeColor);
    color: #23272A;
}

.counterBtns:disabled {
    color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .1);
    cursor: not-allowed;
    background: transparent;
}

#tipMinusBtn:disabled, #peopleMinusBtn:disabled {
    border-right: 1px solid var(--themeColor);
}

#tipPlusBtn:disabled, #peoplePlusBtn:disabled{
    border-left: 1px solid var(--themeColor);
}

.minusBtn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.plusBtn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tipPerPerson {
    margin-bottom: 0px;
    width: 45%;
    /* background: purple; */
    float: left;
    padding: 2%;
}

.totalPerPerson {
    margin-bottom: 0px;
    width: 45%;
    /* background: red; */
    float: right;
    padding: 2%;
}

.perPersonAll {
    /* display: none; */
    margin: 10px;
}

.perPersonAllShow {
    display: block;
}

.total {
    font-size: 3em;
}

/* Hide default HTML5 Up and Down arrows for number input fields */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}